.button{
    width: 80px;
    height: 40px;
    color: black;
    background-color: white;
    font-weight: bold;
}

.button--confirm{
    color: white;
    background-color: green;
}

.button--danger{
    color: white;
    background-color: red;
}



